<a href="https://colab.research.google.com/github/Keer-Luo/ISYS5002-Assignment/blob/main/Sandbox_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initial Algorithm

1. User input ticker symbol
2. Use ticker to get profile page
3. Copied the table
4. For each row of the table
 * Process a row to extract pay
 * Find the last character to determin multiplier
 * Calculate salary, pay * multiplier
 * Calculate the income tax


Note: 
1. Need to validate the ticker, but for now I will assume the user type in a correct ticker
2. Still need to work out where I save the income tax to

In [41]:

#install requirements
!pip install kora -q

#load package page
from bs4 import BeautifulSoup
from kora.selenium import wd
import pandas as pd

In [7]:
def build_url():
 # User input ticker symbol
 ticker_symbol = input("Please input ticker symbol ")
 print(ticker_symbol)
 # Use ticker to get profile page
 example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
 result = example_url.format(ticker_symbol, ticker_symbol)
 return result

In [17]:
def get_first_3_cells(row):
  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'name': name, 'title':title, 'pay': pay}

In [29]:
def get_exec_records(soup):
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  
  exec_records =[]
  for row in rows:
   result = get_first_3_cells(row)
   exec_records.append(result) 
  return exec_records

In [31]:
# Calculate the salary
def get_salary(rec):
  
  pay = rec['pay']
  last_pay_character = pay[-1]
  num_part = pay[0:-1]

  if last_pay_character == 'M':
    salary = float(num_part) * 1000000
    #print("Millions")
  elif last_pay_character == 'k':
    salary = float(num_part) * 1000
    #print("Thousand")
  else:
    salary = 0
    #print("Not sure")

  return salary

In [35]:
def calculate_tax(income):
  # This function is to calculate the tax
   if income <= 18200:
    tax_payable = 0
   elif 18200 < income <= 45000:
    tax_payable = 0.19 * (income - 18200)
   elif 45000 < income < 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
   elif 120001 < income < 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
   elif income > 180000:
    tax_payable = 51667 + 0.45 * (income - 180000)


   return tax_payable

In [33]:
# Get the URL
url = build_url()
wd.get(url)
soup = BeautifulSoup(wd.page_source, "html.parser")
records = get_exec_records(soup)

for record in records:
  result = get_salary(record)
  income_tax = calculate_tax(result)
  record['tax'] = income_tax

# creat a pandas datafrme (because recall in a earlier notebok a data frame is easy to save as csv)

execs_df = pd.DataFrame.from_records(records)
execs_df

Please input ticker symbol nab.ax
nab.ax

                                                name  ...        tax
0                Mr. Ross Maxwell McEwan CBE, B.B.S.  ...  1113667.0
1  Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons)...  ...   479167.0
2                              Mr. Patrick F. Wright  ...   744667.0
3                                 Ms. Sharon J. Cook  ...   381508.0
4                                 Ms. Susan  Ferrier  ...   388838.5
5                           Ms. Angela  Mentis B.Bus  ...   699667.0
6                                  Mr. Shaun  Dooley  ...   443167.0
7                                 Mr. Andrew  Irvine  ...   120638.5
8                             Mr. Lesile D. Matheson  ...        0.0
9                                  Ms. Sally  Mihell  ...        0.0

[10 rows x 4 columns]

In [78]:
save1 = input("Do you wnat to save the table as a CSV?")
if save1 == 'yes':
  import csv
  df = pd.DataFrame.from_records(records)
  df.to_csv(r'C:\Users\Ron\Desktop\records.csv')
elif save1 == 'no':
  print("OK!") 
else:
  print("Please input yes or no!")

Do you wnat to save the table as a CSV?no
okay

In [ ]:
# I try to insert data into database after creating 'records.db', but I failed.
# There is so many questions with inserting codes
save2 = input("Do you wnat to save the table in an SQLite database?")
if save2 == 'yes':
  sqliteConnection = sqlite3.connect('records.db')
  #from sqlalchemy import create_engine
  #df.to_sql("records", engine, schema="SchemaName", if_exists="append", index=False)
  con.close()
elif save1 == 'no':
  print("OK!") 
else:
  print("Please input yes or no!")